.jumbotron {
	background-color: orange;
	color: black;
}

.footer {
	background-color: violet;
	padding: 20px 10px 10px 10px;
	margin: 2px;	
}

.card-hotel {
	flex: 1 150px;
	padding: 10px 3px 3px 3px;
	margin: 5px; 
}

.btn-reserva {
	width: 100%;
}